@model RegistrationViewModel
<div>
    <form asp-action="Demo2" method="post" class="form-inline">
        <label asp-for="FirstName">First Name:</label><br />
        <input asp-for="FirstName" /><br /><br />

        <label asp-for="LastName">Last Name:</label><br />
        <input asp-for="LastName" /><br /><br />

        <input type="submit" value="Register" />
    </form>
</div>
